body {background: #ddd;}
div {min-height: 10px; border: 1px solid #8A7676; margin: 20px; min-width: 10px; float: left;}
div:nth-of-type(1) {width: 5rem; height: 5rem; background: 0 0;}
div:nth-of-type(2) {background: -5.15rem 0;}
div:nth-of-type(3) {width: 43px; height: 43px; background: -5.15rem -2.55rem;}
div:nth-of-type(4) {width: 15px; height: 18px; background: 0 -6.2rem;}
div:nth-of-type(5) {width: 15px; height: 15px; background: -7.7rem -4.95rem;}
div:nth-of-type(6) {width: 20px; height: 20px; background: -7.7rem 0;}
div:nth-of-type(7) {width: 15px; height: 18px; background: -64rem -5.15rem;}
div:nth-of-type(8), div:nth-of-type(9), div:nth-of-type(10), div:nth-of-type(11),
        div:nth-of-type(12), div:nth-of-type(13) {width: 16px; height: 16px;}
div:nth-of-type(8) {background: -7.7rem -3.05rem;}
div:nth-of-type(9) {background: -7.7rem -4rem;}
div:nth-of-type(10) {background: -7.7rem -2.1rem;}
div:nth-of-type(11) {background: -7.7rem -1.15rem;}
div:nth-of-type(1),div:nth-of-type(2),div:nth-of-type(3),div:nth-of-type(7),div:nth-of-type(4),div:nth-of-type(6),div:nth-of-type(11),div:nth-of-type(10),div:nth-of-type(8),div:nth-of-type(9),div:nth-of-type(5){background-image: url(./img/sprite_style.png);background-size: 8.85rem}
